body{
  background-color: #eae3c8;
}
.App {
  position: fixed;
  top:50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
}
.App .searchItem {
  display: flex;
}
.App .searchItem button{
  text-align: center;
  border: none;
  height: 50px;
  width: 50px;
  margin-left: -50px;
  background-color: #a1cae2;
  border-radius: 100%;
}
.App .searchItem button img {
  width: 28px;
  height: 28px;

}
.App .searchItem input{
  width: 50vw;
  height: 40px;
  border-radius: 30px;
  border: none;
  padding: 5px;
  padding-left: 20px;
}
input:focus, button:focus{
  outline: none;
}
.weather{
  margin: 20px;
  padding: 25px;
  border-radius: 10px;
  background-color: #cfc5a5;
  text-align: center;
}
.weather ul{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}